.table {
    margin-bottom: 20px;
    width: 100%;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    box-shadow: 0 0 3px #EEEEEE, 0 0 3px #FFFFFF inset;
}

.table > thead > tr > th {
    vertical-align: bottom;
    background: #BFBFBF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    color: #fff;
}
 .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1.42857;
    padding: 12px;
    vertical-align: top;
    text-align: center;
}
.table a {
    color: #3b9eeb;
    border-bottom: 1px #3b9eeb dotted;
    text-decoration: none;
}

.earn_tab_tit {
    height: 62px;
    border-bottom: 2px solid #ebebeb;
    padding-top: 6px;
}
.earn_tab_tit dl {
    overflow: hidden;
    margin-bottom: 0px;
	padding-top: 15px;
}
.earn_tab_tit dl dd.fr {
    float: right;
}
.earn_tab_tit dl dd {
    cursor: auto;
}
.earn_tab_tit dl dd {
    float: left;
    width: 67px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #c9c9c9;
    position: relative;
}
.earn_tab_tit dl dd a {
    display: block;
    color: #333;
    text-decoration: none;
}
.earn_tab_tit dl dd.active {
    background: #fff;
    border-top: 2px solid #ff8a00;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: #ff8a00;
    bottom: -2px;
}
.earn_tab_tit dl dd.active a {
    color: #ff8a00;
}

.headline01{
	padding-top: 10px;
	padding: 20px 0;
	
}
.headline01 button{
	float: right;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 20px;
	height: 30px;
	line-height: 30px;
	border: 0;
	text-align: center;
	background: #6E6F71;
	color: #fff;
	margin-bottom: 10px;
}

.ban_form{
	margin-top: 15px;
}



